body {
  font-family: "Roboto", "Noto", sans-serif;
}

.outlet {
  padding: 30px;
}

paper-tabs {
  background-color: #0d47a1;
  color: white;
}

section {
  margin: 30px 0;
}

paper-card {
  margin: 20px 0;
  width: 350px;
}
