body {
  font-family: "Roboto", "Noto", sans-serif;
}

.outlet {
  padding: 30px;
}

paper-tabs {
  background-color: #0d47a1;
  color: white;
}

section {
  margin: 30px 0;
}

paper-card {
  margin: 20px 0;
  width: 350px;
}

vaadin-date-picker, paper-input {
  width: 300px;
}

.github-logo {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-header, app-toolbar, paper-tabs {
  background-color: #4285f4;
  color: white;

}
