<p>
  <paper-button raised>button</paper-button>
</p>
<p>
  Addon created by <a href="https://github.com/dunnkers">Jeroen Overschie.</a>
</p>
<p>
  This addon was sponsored by
  <a href="http://www.fabriquartz.com/">Fabriquartz</a>,
  a startup based in The Netherlands.
</p>
<pre>
  &copy; 2016
</pre>
