<section>
  <paper-button raised>button</paper-button>
</section>
<section>
  <paper-icon-button id="number" icon="mail" alt="inbox">
  </paper-icon-button>
  <paper-badge for="number" label="4">
  </paper-badge>

  <paper-icon-button id="cloud" icon="cloud">Status</paper-icon-button>
  <paper-badge icon="favorite" for="cloud" label="favorite icon"></paper-badge>
</section>
<section>
  <paper-checkbox checked>label</paper-checkbox>
</section>
<section>
  <paper-icon-button icon="favorite-border"></paper-icon-button>
</section>
<section>
  <paper-tabs selected="0">
    <paper-tab>TAB 1</paper-tab>
    <paper-tab>TAB 2</paper-tab>
    <paper-tab>TAB 3</paper-tab>
  </paper-tabs>
</section>
<section>
  <paper-dropdown-menu label="Dinosaurs">
    <paper-listbox class="dropdown-content">
      <paper-item>allosaurus</paper-item>
      <paper-item>brontosaurus</paper-item>
      <paper-item>carcharodontosaurus</paper-item>
      <paper-item>diplodocus</paper-item>
    </paper-listbox>
  </paper-dropdown-menu>
</section>
<section>
  <paper-fab mini icon="favorite"></paper-fab>
</section>
<section>
  <label id="label3">Dinosaurs:</label>
  <paper-radio-group selected="b" aria-labelledby="label3">
    <paper-radio-button name="a">allosaurus</paper-radio-button>
    <paper-radio-button name="b">brontosaurus</paper-radio-button>
    <paper-radio-button name="d" disabled>diplodocus</paper-radio-button>
  </paper-radio-group>
</section>
<section>
  <paper-input label="Input label"></paper-input>
</section>
<section>
  <paper-input char-counter label="Input with character counter"></paper-input>
</section>
<section>
  <paper-progress value="10" secondary-progress="30"></paper-progress>
</section>
<section>
  <paper-spinner alt="Loading something important" active></paper-spinner>
</section>
<section>
  <paper-slider min="10" max="200" value="110"></paper-slider>
</section>
<section>
  <paper-card heading="Emmental" image="https://placehold.it/350x150/FFC107/000000" alt="Emmental">
    <div class="card-content">
      Emmentaler or Emmental is a yellow, medium-hard cheese that originated in the area around Emmental, Switzerland. It is one of the cheeses of Switzerland, and is sometimes known as Swiss cheese.
    </div>
    <div class="card-actions">
      <paper-button>Share</paper-button>
      <paper-button>Explore!</paper-button>
    </div>
  </paper-card>
</section>
